* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#f5f7fa ;
    color: #4b616d;
}
.container{
    width:98%;
    max-width:1200px;
    min-height:300px;
    margin:auto;
}
.container h1 {
    text-align: center;
    padding: 40px;
    color: #EE663E;
    text-decoration: underline black;
}
.list-img {
    display: flex;
    justify-content: space-around;
    padding-top: 3opx;
}
.list ul {
    background-color: #EE663E;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(0, 0, 0, 0.7) ;

}
.list ul li {
    list-style: none;
    padding: 45px;
    

}
.list ul li a {
    text-decoration: none;
    font-size: 21px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    margin-left: 13px;
    border-radius: 10px;
}
.list ul li a:hover {
    background-color: rgb(173, 171, 171);
    color: white;
}
#img img {
    width: 800px;
    height: 600px;
    border-radius: 20px;
}